<html>
    <head>
        <title>RESTful blog</title>
        <link href="https://cdn.bootcss.com/semantic-ui/2.2.14/semantic.min.css" rel="stylesheet">
        <link href="/main.css" rel="stylesheet">
    </head>
    <body>
